/*---Feuille de style du dashboard---*/

.input-dashboard{
    height:5rem;
}

.buttonPDFgenerator
{
    height:100%;
    width:80px;
    background:url('/images/boutonPDF.Png') no-repeat center;
    transition: 70ms ease;

}

.buttonPDFgenerator:hover{
    transform: scale(1.1);
}

.buttonSUPPR{
    justify-content: right;
    background:rgb(141, 0, 0);
    color:white;
    padding:3px;
    border-radius:5px;
}

.dropdownMonth{
    display: inline-block;
    margin-right: 0.5rem;
    overflow: visible;
}

.dropdownMonth:hover .dropdownMonthContent{
    overflow: visible;
    display: block;
}

.dropdownMonthBtn{
    border-radius: 0.375rem;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }

.dropdownMonthContent{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;
    z-index: 1;
}

.dropdownMonthContent button:focus {
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.dropdownMonth:hover .dropdownMonthBtn{
    background-color: #3e8e41;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem ;
}

.dropdownMonthBtn:focus{
    outline: none;
}

.dropdownYear{
    overflow: visible;
    color: black;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdownYear:hover{
    background-color: #3e8e41;
    color: white;
}

.dropdownYear:hover .dropdownYearContent{
    overflow: visible;
    display: block;
    color: black;


}

.dropdownYearBtn{
    background-color: white;
    padding: 12px 16px;
    border: none;
    cursor: pointer;

  }

.dropdownYearContent{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;
    z-index: 1;
}

.dropdownYearContent button{
    background-color: white;
    overflow: visible;
    color: black;
    padding: 12px 16px;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    display: block;
    white-space: nowrap;

}

.dropdownYearContent button:hover {
    background-color: #3e8e41;
    color: white;
}

.dropdownYearContent button:focus {
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.dropdownYear:hover .dropdownYearBtn{
    background-color: #3e8e41;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem ;
}

.dropdownYearBtn:focus{
   outline: none;
}

.dropdownUser{
    display: inline-block;
    margin-right: 0.5rem;
    overflow: visible;
}

.dropdownUser:hover .dropdownUserContent{
    overflow: visible;
    display: block;
    position: absolute;
}

.dropdownSelectBtn {
    border-radius: 0.375rem;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.dropdownUserContent{
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;
    z-index: 1000;
    width: -moz-fit-content;
    width: fit-content;

}

.dropdownUserContent button:focus{
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.dropdownUser:hover .dropdownSelectBtn{
    background-color: #3e8e41;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem ;
}

.dropdownSelectBtn:focus{
    outline: none;
}

.dropdownUserBtn{
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.dropdownUserContent button{
    overflow: visible;
    color: black;
    padding: 12px 16px;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdownUserContent button:hover{
    background-color: #3e8e41;
    color: white;
}

.dropdownUserContent button:focus{
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.modal-dialog input{
    width:100%
}

.modal-dialog2 input{
    width:100%
}

#prevMonthButton{
    align-items: center;
    display: flex;
    padding-top:10px;
}

#nextMonthButton{
    display:flex;
    align-items: center;
    padding-top:10px;
}

#calendar-container {
    cursor: pointer;
}

.inputFacture{
    width: 20px !important;
    height: 20px !important;
    background:no-repeat url(/images/iconDL.png?3c03fd3348466088ec894662e1e57a44);
    margin-top:4px;
    cursor:pointer;
}

/* inputs peage -readonly */

#peage:-moz-read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage:read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage2:-moz-read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage2:read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage3:-moz-read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage3:read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage4:-moz-read-only{
    border:1px solid rgb(192, 44, 44);
}

#peage4:read-only{
    border:1px solid rgb(192, 44, 44);
}

.peagemodif:-moz-read-only{
    border:1px solid rgb(192, 44, 44);
}

.peagemodif:read-only{
    border:1px solid rgb(192, 44, 44);
}

/* - responsive du calendrier */

@media screen and(max-width:300px){
    input{
        font-size:6px;
        padding:0px;
    }
    .divEssence {
        padding:4px;
    }
    body{
        background : red;
    }
}

/* responsive administration buttons*/

@media screen and (max-width:1450px){
    .responsiv-administration-buttons{
        font-size:12px ;
    }
}

@media screen and (max-width:1024px){
   .responsiv-administration-buttons{
        font-size:10px ;
    }
}

@media screen and (max-width:780px){
   .responsiv-administration-buttons{
        font-size:9px ;
    }
    .modal-dialog{
        font-size:14px;

}
    .modal-dialog2{
        font-size:14px;

}
}

@media screen and (max-width:540px){
   .responsiv-administration-buttons{
        font-size:8px ;
    }
    #calendar-container {
        height:450px;
        width:100%;
        font-size:10px;
    }
    #calendar-container #calendar{
        height:450px;
        width:100%;

    }

    .fc-daygrid{
        height:400px;
    }
    /* .row div{
        padding:4px;
        margin:4px;
    } */

}

@media screen and (max-width:420px){
   .responsiv-administration-buttons{
        font-size:7px;
    }
    .modal-dialog{
        font-size:10px;
}
    .modal-dialog input{
        height:40px;
}
    .modal-dialog2{
        font-size:10px;
}
    .modal-dialog2 input{
        height:40px;
}
}

@media screen and (max-width:300px){
    #calendar-container {
        height:350px;
        width:100%;
        font-size:8px;
    }
    #calendar-container #calendar{
        height:350px;
        width:100%;

    }
    #calendar{
        height:350px;
    }
    .fc-daygrid{
        height:300px;
    }
}

/*/////////////////////////////////////////////////////////////////////////////*/

/* RESPONSIVE DE L'ADMINISTRATION"*/

/*/////////////////////////////////////////////////////////////////////////////*/

.button-visu{
    height:100%;
    font-size:16px;
    border:4px solid rgb(24, 111, 192);
    padding:6px;
    border-radius:10px;
    transition:200ms ease;
}

.check{
    margin-top: 12px;
}

@media screen and (max-width:1260px){
    .button-visu{
        font-size:14px;
    }
}

@media screen and (max-width:900px){
    .button-visu{
        font-size:10px;
    }
    .tchao900{
        display:none;
    }
    .TH-gestion{
        font-size:8px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
    }
    .TD-gestion{
        font-size:8px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
    }
    .check{
        margin-top:4px;
    }

}

@media screen and (max-width:340px){
    .TH-gestion{
        font-size:6px;
    }
    .TD-gestion{
        font-size:6px;
    }
}

