/*---Feuille de style du dashboard---*/

.input-dashboard{
    height:5rem;
}

.buttonPDFgenerator
{
    height:100%;
    width:80px;
    background:url('/images/boutonPDF.Png') no-repeat center;
    transition: 70ms ease;

}

.buttonPDFgenerator:hover{
    transform: scale(1.1);
}

.buttonSUPPR{
    justify-content: right;
    background:rgb(141, 0, 0);
    color:white;
    padding:5px;
    border-radius:5px;
}

.dropdownMonth{
    position:relative;
    display: inline-block;
}

.dropdownMonth:hover .dropdownMonthContent{
    display: block;
}

.dropdownMonthBtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.dropdownMonthContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownMonthContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownMonthContent a:hover {background-color: #f1f1f1;}

.dropdownMonth:hover .dropdownMonthBtn{
    background-color: #3e8e41;
}


