@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.h2-top-page{
    font-family:'nunito', sans-serif;
    font-size: medium;
    font-weight:bold;
    margin-left:3%;
    margin-top:20px;
    margin-bottom:36px;
}
.h2-top-page span{
    color:rgb(32, 59, 212);
}
.td-validation{

    transition: 200ms ease;
    cursor:pointer;
}
.td-validation:hover{

    color:rgb(29, 46, 199);
}

.table-ndf{
    width:100%;
    border:4px solid rgb(55,65,81);
    font-weight:bold;
}
.table-ndf tbody tr:nth-child(odd){
    background-color:rgb(231, 231, 231);
}
.validerNDF{
    padding:0.5rem;
    border: 6px solid rgb(0, 151, 0);
    background:#202020 !important;
    color:white;
    font-family: 'nunito',sans-serif;
    font-weight: bold;
    font-size:1rem;
    transition:50ms ease;
}
.supprimerNDF{
    padding:0.6rem;
    border: 6px solid rgb(155, 11, 11);
    background:#202020 !important;
    color:white;
    font-family: 'nunito',sans-serif;
    font-weight: bold;
    font-size:1rem;
    transition:50ms ease;
}
.validerNDF:hover{
    transform:scale(1.05);
}
.supprimerNDF:hover{
    transform:scale(1.05);
}

