/*---Feuille de style du dashboard---*/

.input-dashboard{
    height:5rem;
}
.buttonPDFgenerator
{
    height:100%;
    width:80px;
    background:url('/images/boutonPDF.Png') no-repeat center;
    transition: 70ms ease;

}
.buttonPDFgenerator:hover{
    transform: scale(1.1);
}

