/*---Feuille de style du dashboard---*/

.input-dashboard{
    height:5rem;
}
.buttonPDFgenerator
{
    height:100%;
    width:80px;
    background:url('/images/boutonPDF.Png') no-repeat center;
    transition: 70ms ease;

}
.buttonPDFgenerator:hover{
    transform: scale(1.1);
}
.buttonSUPPR{
    justify-content: right;
    background:rgb(141, 0, 0);
    color:white;
    padding:5px;
    border-radius:5px;
}

.dropdownMonth{
    display: inline-block;
    margin-right: 0.5rem;
    overflow: visible;
}

.dropdownMonth:hover .dropdownMonthContent{
    overflow: visible;
    display: block;
}
.dropdownMonthBtn{
    border-radius: 0.375rem;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }

.dropdownMonthContent{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;
    z-index: 1;
}

.dropdownMonthContent button:focus {
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.dropdownMonth:hover .dropdownMonthBtn{
    background-color: #3e8e41;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem ;
}

.dropdownMonthBtn:focus{
    outline: none;
}

.dropdownYear{
    overflow: visible;
    color: black;
    width: fit-content;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdownYear:hover{
    background-color: #3e8e41;
    color: white;
}

.dropdownYear:hover .dropdownYearContent{
    overflow: visible;
    display: block;
    color: black;


}

.dropdownYearBtn{
    background-color: white;
    padding: 12px 16px;
    border: none;
    cursor: pointer;

  }

.dropdownYearContent{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;
    z-index: 1;
}

.dropdownYearContent button{
    background-color: white;
    overflow: visible;
    color: black;
    padding: 12px 16px;
    width: fit-content;
    text-decoration: none;
    display: block;
    white-space: nowrap;

}

.dropdownYearContent button:hover {
    background-color: #3e8e41;
    color: white;
}

.dropdownYearContent button:focus {
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.dropdownYear:hover .dropdownYearBtn{
    background-color: #3e8e41;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem ;
}

.dropdownYearBtn:focus{
   outline: none;
}

.dropdownUser{
    display: inline-block;
    margin-right: 0.5rem;
    overflow: visible;
}

.dropdownUser:hover .dropdownUserContent{
    overflow: visible;
    display: block;
    position: absolute;
}

.dropdownSelectBtn {
    border-radius: 0.375rem;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.dropdownUserContent{
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;
    z-index: 1000;
    width: fit-content;

}

.dropdownUserContent button:focus{
    background-color: #3e8e41;
    color: white;
    outline: none;
}

.dropdownUser:hover .dropdownSelectBtn{
    background-color: #3e8e41;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem ;
}

.dropdownSelectBtn:focus{
    outline: none;
}

.dropdownUserBtn{
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.dropdownUserContent button{
    overflow: visible;
    color: black;
    padding: 12px 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdownUserContent button:hover{
    background-color: #3e8e41;
    color: white;
}

.dropdownUserContent button:focus{
    background-color: #3e8e41;
    color: white;
    outline: none;
}
